<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Time to stretch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E74175C2DC3EBC000118009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E74176D2DC3EBC200118009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7417772DC3EBC200118009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
